.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    position: center;
    size: cover;

}
.background {
    background-color: black !important;
}


#mySidenav a {
    position: absolute;
    left: -150px;
    transition: 0.3s;
    padding: 15px;
    width: 170px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(233, 241, 250);
    border-radius: 0 5px 5px 0;
    font-family: myfont !important;
    font-style: bold;
}

#mySidenav a:hover {
    left: 0;
}

#players {
    top: 20px;
    background-color: rgb(255, 208, 0);
    border-style: solid;
    border-color: #570179;
}

#state {
    top: 80px;
    background-color: #570179;
    border-style: solid;
    border-color: rgb(255, 208, 0);
}

#skill {
    top: 140px;
    background-color: white;
    border-style: solid;
    border-color: #570179;
    font-size: 20px !important;
    color: #570179 !important;
}

#about {
    top: 200px;
    background-color: #570179;
    border-style: solid;
    border-color: rgb(255, 208, 0);
}

#home {
    top: 260px;
    background-color: rgb(255, 208, 0);
    color: white !important;
    border-style: solid;
    border-color: #570179;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(61, 60, 60);
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 10px;
}

.pic3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 50px;
    width: 50%;
}

.text {
    padding-top: 40px;
}

h1 {
    font-size: 75px;
    color: #570179;
    font-family: Helvetica !important;
    margin-bottom: 60px;
    background-color: white;
    padding-left: 20px;
}

#chart {
    position: fixed;
    left: 100px;
    right: 0px;
    top: 100px;
    bottom: 0px;
}

path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

circle {
    fill: rgb(225, 208, 0) !important;
    stroke: #fff;
    stroke-width: 1.5px;
}

text {
    fill: #000;
    font: 10px sans-serif;
    pointer-events: none;
}

@font-face {
    font-family: myfont;
    src: url(Images/Helvetica-Black.ttf);
}

.bar {
    fill: rgb(212, 120, 0);
}

.bar:hover {
    fill: rgb(51, 50, 48);
}

body {
    padding: 0;
    margin: 0;
}

#map,
body,
html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
}


/* set map, body, and html to 100% of the screen size */

#map,
body,
html {
    height: 100%;
}